@import '../../styles/variables.scss';

.menu {
  display: grid;
  align-items: center;

  @media screen and (max-width: $table-width) {
    display: grid;    
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;    
    display: grid;
    grid-auto-flow: column;

    @media screen and (max-width: $table-width) {
      display: none;
      row-gap: 8px;
      padding-top: 12px;
      padding-bottom: 24px;
      padding-left: 64px;
      background-color: $basic-white;
      box-shadow: 0 50vh 0 50vh $special-black-10a;
      grid-auto-flow: row;
    }
    
    &--open {
      display: grid;
    }
  }

  &__button {
    display: none;

    @media screen and (max-width: $table-width) { 
      z-index: 2;
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;            
      justify-self: start;
      margin-top: 16px;
      margin-left: 16px;
    }
  }  
  
  &__icon {
    @media screen and (max-width: $table-width) { //задается ширина при которой вылезает меню
      stroke: $basic-black; //цвет линий миню
    }

    &:hover {
      stroke: $basic-hover;
      cursor: pointer;
    }

    &-menu {
      display: block;
    }

    &-cross {
      display: none;
    }
  }

  &__button--open .menu__icon-cross {
    display: block;
  }

  &__button--open .menu__icon-menu {
    display: none;    
  }

  &__item {

  }

  &__link {    
    text-decoration: none;
    color: $basic-black;
    font-family: $basic-font-family;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 5px;

    &:hover {
      background-color: $basic-black;
      color: $basic-white;
    }
  }
  
}