.contacts {
    display: grid;
    grid-template: 0.5fr 1fr / .8fr 1fr;
    width: 100%;
    background: #F1F2F4;
}

.contacts__item-map {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    height: 100vh;
}

.contacts__item-adres,
.contacts__item-question {
    padding-left: 30px;
}

h2 {
    padding-bottom: 25px;
    display: block;
    text-align: center;
}