.product-card {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    column-gap: 60px;

    &__slider {
        padding: 0 80px;
        position: relative;
    }

    &__slider::before {
        background: url("/img/Vector 3.3.png") no-repeat;
        content: '';
        top: 32%;
        left: 0;
        display: block;
        height: 25px;
        width: 25px;
        position: absolute;
    }

    &__slider::after {
        background: url("/img/Vector 3.3.png") no-repeat;
        transform: rotate(180deg);
        content: '';
        top: 32%;
        left: 96%;
        display: block;
        height: 25px;
        width: 25px;
        position: absolute;

    }

    &__slider-image {
        border: solid 2px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        height: 522px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    &__slider-other {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        grid-gap: 25px;
        margin-top: 20px;
    }

    &__slider-other-image {
        height: 113px;
        border: solid 1px black;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }


    &__description {
        background-color: #F1F2F4;
        padding: 70px;

        h1 {
            font-size: 32px;
            line-height: 38px;
            padding-bottom: 24px;
        }

        p {
            font-size: 16px;
            line-height: 19px;
            padding-bottom: 48px;
        }
    }

    &__parametr {
        padding-bottom: 24px;
    }

    &__coast {
        padding-bottom: 32px;
    }

    button {
        background-color: #151C22;
        height: 64px;
        border-radius: 0;
        margin: 0;
        width: auto;
        padding: 0 40px;
        cursor: pointer;
        font-size: 16px;
        line-height: 19px;
    }
}