@import '../../styles/variables.scss';

.header {
  background-color: $basic-white;
  height: 67px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (max-width: $table-width) {
    padding-left: 16px;
    padding-right: 16px;
    grid-template-columns: 1fr;
  }
  
  &__addlinks {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: flex-end;
    padding-right: 35px;

    &_cart {
      background: url(/img/cart.svg) no-repeat;
      width: 23px;
      height: 20px; 
      
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__logo {
    display: grid;
    justify-content: center;
    z-index: 1;
  }

  &__menu {
    @media screen and (max-width: $table-width) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  }

}