@import '../../styles/variables.scss';

.search-bar {
  
  &__button {      
      z-index: 2;
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
      background-color: transparent;            
      justify-self: start;
      margin-top: 16px;
      margin-left: 16px;    
  } 

  // form {
  //   position: relative;
  //   width: 100px;
  //   margin: 0 auto;    
  // }
  
  // input {
  //   height: 21px;
  //   width: 0;
  //   padding: 0 10px 0 10px;
  //   border: none;
  //   border-bottom: 1px solid transparent;
  //   outline: none;
  //   background: transparent;
  //   transition: .4s cubic-bezier(0, 0.8, 0, 1);
  //   position: absolute;
  //   top: 0;
  //   right: 22px;
  //   z-index: 2;
      
  //   &:focus {
  //     width: 100%;
  //     z-index: 1;
  //     border-bottom: 2px solid $basic-black;      
  //   }
  // }
  
  // button {  
  //   position: absolute;
  //   border: none;
  //   top: 0;
  //   right: 0;  
  //   // background: url(/img/search.svg) no-repeat;
  //   width: 20px;
  //   height: 20px;
  //   cursor: pointer;

  //   // &:focus {

  //   // }

  //   // &:hover {
  //   //   color: $basic-hover
  //   // }  
  // }


  // &__icon {
  //   stroke: $basic-black;
  //   cursor: pointer;
  // }

}
